@model MarketOtomasyonSistemi.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Ekle", "Müsteri", FormMethod.Post))
{
<div>
    @Html.LabelFor(x => x.MUSTERIAD)
    @Html.TextBoxFor(x => x.MUSTERIAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.MUSTERIAD,"", new {@style="color:red" })


</div>
<div>
    @Html.LabelFor(x => x.MUSTERISOYAD)
    @Html.TextBoxFor(x => x.MUSTERISOYAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.MUSTERISOYAD, "", new { @style = "color:red" })


</div>
<button class="btn btn-primary" id="btn1" type="submit">Ekle</button>
  }
<script>
    $("#btn1").click(function () {
        alert("Müşteri Eklendi")
    })
</script>
